/* Custom properties  */
:root {
  --orange: #ff6900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Generics */

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding-top: 90px;
}

header {
  height: 70px;
  background-color: var(--orange);
  color: white;
  font-weight: 600;
  box-shadow: 0px -1px 7px black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

span {
  font-size: 1rem;
}
/* Header */

nav.flex {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav > div {
  flex-basis: calc(100% / 3);
  justify-content: center;
}

.nav-sex a {
  margin-right: 10px;
}

.nav-logo > img {
  height: 30px;
}

.nav-user-menu {
  text-align: end;
}

nav i {
  padding: 0 5px;
}

/* Main  */

.row {
  width: 100%;
  padding-top: 50px;
  column-gap: 20px;
  flex-wrap: wrap;
}

.col {
  flex-basis: calc(100% / 3 - (20px * 2 / 3));
  margin-bottom: 50px;
}

.col img {
  width: 100%;
  display: block;
}

/* Cards properties  */

.card {
  position: relative;
}

.card-favourite {
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.discount,
.bio {
  color: white;
  padding: 5px 10px;
  display: inline-block;
}

.discount {
  background-color: red;
}

.bio {
  background-color: green;
}

.card-tags {
  position: absolute;
  left: 0;
  bottom: 40px;
  cursor: default;
  user-select: none;
}

.final-prize {
  color: red;
  font-weight: 600;
  margin-right: 5px;
}

.prize {
  text-decoration: line-through;
}

/* Hover properties */

.card-favourite:hover {
  color: red;
}

img:hover[alt="Levi's tee"] {
  content: url("../img/1b.webp");
}
img:hover[alt="Guess"] {
  content: url("../img/2b.webp");
}
img:hover[alt="czf"] {
  content: url("../img/3b.webp");
}
img:hover[alt="Levi's Shirt"] {
  content: url("../img/4b.webp");
}
img:hover[alt="Maya Deluxe"] {
  content: url("../img/5b.webp");
}
img:hover[alt="Esprit"] {
  content: url("../img/6b.webp");
}

/* Footer  */

footer {
  height: 100px;
  background-color: #000;
}
.footer {
  justify-content: space-between;
  color: white;
  height: 100%;
  align-items: center;
}

footer h4,
footer h5 {
  padding-bottom: 8px;
}
footer span {
  padding-right: 5px;
}

.footer-social span {
  font-size: 23px;
}
/* Utilities  */

.flex {
  display: flex;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

/* Debug */

.debug {
  border: 2px dashed black;
}
